<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(224, 243, 253);">
  <a class="navbar-brand" href="#"><img src="../../assets/logomenor.png" alt="logotipo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" routerLink="clientes"><i class="fas fa-user" style="font-size: 1em"></i>&nbsp;Cliente</a>
          </li>   
          <li class="nav-item active">
            <a class="nav-link" routerLink="#"><i class="fas fa-notes-medical"></i>&nbsp;Tratamento</a>
          </li>      
          <li class="nav-item active">
            <a class="nav-link" routerLink="#"><i class="fas fa-calendar-check"></i>&nbsp;Acompanhamento</a>
          </li>          
          <li class="nav-item active">
            <a class="nav-link" routerLink="#"><i class="fas fa-bullseye"></i>&nbsp;Objetivo</a>
          </li>     
          <li class="nav-item active">
            <a class="nav-link" routerLink="#"><i class="fas fa-money-check-alt"></i>&nbsp;Vendas</a>            
          </li>                       
      </ul>
      <div class="my-2 my-lg-0">
          Usuário: [...] 
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="my-2 my-lg-0">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                  
                  <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-cog"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="#">Trocar Senha</a>
                      <a class="dropdown-item" routerLink="#">Usuário</a>
                      <a class="dropdown-item" routerLink="medidas">Medidas</a>
                      <a class="dropdown-item" routerLink="campanhas">Campanhas</a>
                      <a class="dropdown-item" routerLink="#">Produtos</a>
                      <a class="dropdown-item" routerLink="#">Indicadores</a>
                      <a class="dropdown-item" routerLink="#">Funcionários</a>
                      <a class="dropdown-item" routerLink="#">Alertas</a>
                    </div>
              </li>                                       
          </ul>        
      </div>
  </div>
</nav>
