.action-buttons{
    text-align: right;
}

.navbar-toggle {   
    background: none;
    width: 60px;
    height: 60px;
    font-size: 26px;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: 0;
}


@media (min-width: 1200px) {
    .navbar-toggle {
        display: none;
    }
}

@media (min-width: 768px) {
    .header .header-icons {
        padding-right: 0;
    }
}

.header .header-logo {
    width: 264px;
}